:root {
  --clr-gradient-100: hsl(236, 72%, 79%);
  --clr-gradient-200: hsl(237, 63%, 64%);

  --clr-neutral-100: hsl(240, 78%, 98%);
  --clr-neutral-200: hsl(234, 14%, 74%);
  --clr-neutral-300: hsl(234, 13%, 49%);
  --clr-neutral-400: hsl(232, 13%, 33%);

  --ff-primary-100: "Montserrat", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-size: inherit;
  font-family: var(--ff-primary-100);
}

body {
  background-color: var(--clr-neutral-100);
}

/* main */
main {
  max-width: 1110px;
  margin: 64px auto 0 auto;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: var(--fs-700);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-bold);
}

.header_btn-feature {
  display: flex;
  margin-top: 32px;
}

.header_btn-feature p {
  font-size: var(--fs-500);
  color: var(--clr-neutral-200);
  font-weight: var(--fw-semi-bold);
}

.header_btn-feature button {
  margin: 0 16px 0 16px;
}

/* section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px auto 48px auto;
  padding: 0 16px;
}

/* article (card) */
h2 {
  font-size: var(--fs-600);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-bold);
  margin-top: 24px;
}

.card:nth-child(2) > h2 {
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 382px);
  border-radius: 10px;
  padding: 0 16px 0 16px;
}

.card:not(:first-child) {
  margin-top: 32px;
}

.card:not(:nth-child(2)) {
  background-color: white;
}

.card:nth-child(2) {
  background-color: var(--clr-gradient-200);
}

.card_currency {
  font-size: var(--fs-900);
  color: var(--clr-neutral-400);
  font-weight: var(--fw-bold);
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.card:nth-child(even) .card_currency,
.card:nth-child(even) .card_feature p {
  color: white;
}

.card_currency span {
  font-size: var(--fs-700);
  padding-right: 8px;
}

.card_feature {
  margin-top: 16px;
  border: 1px solid var(--clr-neutral-200);
  width: calc(100% - 8px);
  border-left: 0;
  border-right: 0;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_feature p {
  font-size: var(--fs-500);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-bold);
}

.card_feature p:nth-child(even) {
  padding: 16px 0;
  border: 1px solid var(--clr-neutral-200);
  border-left: 0;
  border-right: 0;
  width: 100%;
  text-align: center;
}

.card:nth-child(even) p:nth-child(even) {
  border-color: var(--clr-neutral-100);
}

.card:nth-child(even) .card_feature {
  border: 1px solid var(--clr-neutral-100);
  border-left: 0;
  border-right: 0;
}

.card_feature p:first-child {
  padding-bottom: 16px;
}

.card_feature p:last-child {
  padding-top: 16px;
}

.card a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0 32px 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: var(--clr-gradient-200);
  border-radius: 6px;
  height: 44px;
  color: white;
  font-size: var(--fs-400);
  text-transform: uppercase;
  font-weight: var(--fw-semi-bold);
  letter-spacing: 1.2px;
}

.card:nth-child(even) a {
  background-color: white;
  color: var(--clr-gradient-200);
}

@media (min-width: 1110px) {
  section {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 48px auto;
    padding: 0 16px;
  }

  .card:not(:first-child) {
    margin-top: 0px;
  }

  .card:nth-child(even) {
    height: calc(100% + 32px);
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 382px);
    border-radius: 10px;
    padding: 0 16px 0 16px;
  }

  .card:first-child {
    border-radius: 10px 0 0 10px;
  }

  .card:last-child {
    border-radius: 0 10px 10px 0;
  }
}
